/* desktop / landscape */
@media (min-aspect-ratio: 5/4) 
{
    .nameContainer
    {
        position: absolute;
        top: 130px;
        left: 203px;
        height: 50px;
        width: 197px;
        display: flex;
        align-items: center;
    }

    .name 
    {
        position: absolute;
        width: 197px;
        color: white;
        text-align: center;
    }
}

/* mobile */
@media (max-aspect-ratio: 5/4) 
{
  .name
  {
    display: none;
  }
}